---
import Link from '@/components/link.astro'
import { BASE_URL } from '@/shared/consts'
import Image from '@/components/image.astro'
import { getLocationIcon, getRelativeDate } from '@/shared/utils'
import type { Job } from '@/services/types'

interface Props {
  job: Job
}

const { job } = Astro.props
---

<article
  class="group grid min-h-17.5 w-full items-center rounded-2xl border border-[rgb(237,242,247)] bg-secondary hover:bg-[#fed294c9]"
>
  <Link external to={job.url} class="grid w-full grid-cols-[auto_fit-content(100%)] items-center gap-2 px-4 py-2">
    <div class="grid grid-cols-[minmax(0,32px)_auto] items-center gap-2">
      <Image width={32} height={32} alt={job.companyName} src={job?.companyLogo} class="rounded-full object-contain" />

      <div class="flex flex-col gap-1">
        <h3 class="text-sm font-semibold group-hover:opacity-70 sm:text-lg">
          {job.title} • {job.companyName}
        </h3>
        <div class="grid auto-cols-max grid-flow-col gap-2">
          {
            job?.requiredLocation ? (
              <div
                title={`Location: ${job.requiredLocation}`}
                class="grid grid-cols-[fit-content(100%)_auto] items-center gap-1 rounded-full bg-[rgba(0,0,0,0.06)] px-2 py-1 text-xs font-light"
              >
                <Image
                  width={18}
                  height={18}
                  alt={job?.requiredLocation}
                  src={BASE_URL + '/' + getLocationIcon(job.requiredLocation)}
                />
                <span class="grid grid-cols-[fit-content(100%)_auto] rounded-full uppercase">
                  {job.requiredLocation}
                </span>
              </div>
            ) : null
          }

          {
            job?.salary ? (
              <div
                title={`Salary: ${job.salary}`}
                class="grid grid-cols-[fit-content(100%)_auto] items-center gap-1 rounded-full bg-chocolate px-2 py-1 text-xs font-semibold text-secondary"
              >
                <span class="grid grid-cols-[fit-content(100%)_auto] rounded-full uppercase">💸 {job.salary}</span>
              </div>
            ) : null
          }
        </div>
      </div>
    </div>
    <div class="hidden sm:block sm:font-poppins sm:text-sm sm:font-light">
      <span>{getRelativeDate(job.publicationDate)}</span>
    </div>
  </Link>
</article>
